.nav_bar{
    height: 44px;
    line-height: 44px;
    background-color: #f5f5f5;
    color: #666;
}
.nav_bar a {
    padding-right: 3px;
}
.nav_bar .wrap a:hover{
    color:red;
}
.cart_null {
    height: 300px;
    line-height: 300px;
    margin-bottom: 40px;
    font-size: 18px;
    background-color: #FFF;
    color: #666;
    text-align: center;
    display: none;
}
.cart_null span {
    display: inline-block;
    width: 80px;
    height: 60px;
    margin-right: 14px;
    background: url(../images/base.png) no-repeat -78px -132px;
    vertical-align: -11px;
}
.cart_null a {
    padding: 0 5px;
    color: #e90404;
}
.wrap .cart_list{
    margin-bottom: 43px;
}
.wrap .cart_list table{
    width: 100%;
}
.wrap .cart_list table thead tr td.state{
    width: 111px;
    height: 54px;
    font-size: 14px;
    color: #666;
    background-color: #FFF;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.wrap .cart_list table thead tr td.state span{
    margin-right: 10px;
}
.wrap .cart_list table thead tr td.state .all_checkbox .checkbox{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.wrap .cart_list table thead tr td.state .curr{
    cursor: pointer;
    background: #e32332 url(../images/base.png) no-repeat -78px -100px;
    border-color: #e32332;
}
span.checkbox label {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #d4d4d4;
    background-color: #FFF;
    cursor: pointer;
}
.cart_list thead td {
    height: 54px;
    font-size: 14px;
    color: #666;
}
.cart_list td {
    background-color: #FFF;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.cart_list thead .num {
    width: 200px;
}
.cart_list thead .prices {
    width: 150px;
}
.cart_list thead .operation {
    width: 150px;
}
span.checkbox {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
span.checkbox label.curr {
    background: #e32332 url(../images/base.png) no-repeat -78px -100px;
    border-color: #e32332;
}
.cart_list td img {
    width: 72px;
    height: 72px;
    border: 1px solid #ddd;
}
.cart_list dl {
    margin: 29px 0;
}
.cart_list dd h1 {
    width: 486px;
    display: block;
    font-size: 14px;
    color: #424242;
}
.cart_list dd h1 a.name {
    max-width: 400px;
    height: 20px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
}
.cart_list dd {
    text-align: left;
    margin-left: 18px;
}
.cart_list dd h1 a {
    color: #424242;
}
.cart_list .amount {
    margin-right: 0;
    display: inline-block;
    width: 78px;
    height: 22px;
    /* margin-right: 11px; */
    border: 1px solid #e0e0e0;
    vertical-align: middle;
}
.amount span {
    display: inline-block;
    width: 18px;
    height: 22px;
    vertical-align: middle;
    cursor: pointer;
}
.amount .reduce {
    background: url(../images/base.png) no-repeat -234px -97px;
}
.amount input {
    width: 32px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 0;
    vertical-align: middle;
    font-size: 12px;
}
.amount .plus {
    background: url(../images/base.png) no-repeat -233px -132px;
}
.cart_list td .stock {
    padding-top: 8px;
    color: #999;
}
.cart_list td.price {
    font-size: 20px;
    color: #e90404;
}
.cart_list td .del {
    display: inline-block;
    width: 22px;
    height: 20px;
    padding-top: 2px;
    border-radius: 11px;
}
.cart_list td .del span {
    display: inline-block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    background: url(../images/base.png) no-repeat -292px 0;
}
.total_bar {
    margin-top: 5px;
    height: 90px;
    line-height: 90px;
    padding: 0 32px 0 28px;
    background-color: #FFF;
    font-size: 14px;
    color: #666;
}
.total_bar .fLeft span {
    margin-right: 10px;
}
.total_bar .fLeft a {
    margin-left: 22px;
}
.total_bar .fRight .btn {
    width: 188px;
    height: 50px;
    margin-left: 20px;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    color: #FFF;
    background-color: #e32332;
}
.total_bar .fRight #num {
    font-size: 24px;
}
.total_bar .fRight span {
    margin: 0 7px;
    color: #e90404;
}