.slide {
    position: relative;
    height: 439px;
    background-color: #565656;
}
.lis {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    z-index: 1;
    text-align: center;
}
.lis a{
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 6px;
    margin: 0 5px;
    overflow: hidden;
    background-color: #eff0f2;
}
.big .wrap{
    overflow: hidden;
    position: relative;
    width: auto;
}
.big .wrap ul{
    width: 4242px;
    left: 0px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.big .wrap ul li:nth-child(1){
    background: url(../images/ad04.jpg) center top no-repeat;
    float: left;
    width: 1414px;
}
.big .wrap ul li:nth-child(2){
    background: url(../images/ad02.jpg) center top no-repeat;
    float: left;
    width: 1414px;
}
.big .wrap ul li:nth-child(3){
    background: url(../images/ad03.png) center top no-repeat;
    float: left;
    width: 1414px;
}
.slide .slide_ul li a {
    display: block;
    width: 1190px;
    height: 439px;
    margin: 0 auto;
}
.slide .slide_ul li {
    height: 439px;
}
.slide .slide_ul li:first-child{
    display: block;
}
.slide .prev, .slide .next {
    width: 47px;
    height: 80px;
    margin-top: -40px;
}
.slide .prev,.slide .next {
    position: absolute;
    top: 50%;
    border-radius: 3px;
    width: 47px;
    height: 80px;
    margin-top: -40px;
}
.slide .next {
    margin-right: -595px;
    right: 50%;
}
.slide .next span,.slide .prev span{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/base.png);
}
.slide .next span{
    background-position: -47px -20px;
}
.slide .prev span{
    background-position: 0 -20px;
}
.slide .prev{
    left: 50%;
    margin-left: -595px;
}
.lis a.active{
    background-color: #e22430;
}
/* 广告 */
.banner{
    padding-bottom: 40px;
    background-color: #FFF;
}
.banner .wrap{
    position: relative;
    padding-top: 146px;

}
.banner .wrap .ad_list{
    position: absolute;
    top: -14px;
    left: 0;
}
.banner .wrap a:first-child {
    margin-left: 0;
}
.banner .ad_list a {
    float: left;
    margin-left: 16px;
    width: 386px;
    height: 160px;
}

/* 专区 */
.area .title_main{
    padding: 37px 0 20px 0;
    font-size: 28px;
    zoom: 1;
    overflow: hidden;
}
.title_main .icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 12px;
    vertical-align: middle;
}
.title_main dd{
    float: left;
    margin-right: 5px;
    padding: 5px 20px 0 20px;
    font-size: 16px;
}
.area .title_main dl {
    margin-left: 116px;
    font-size: 16px;
}
.area .title_main dl a:hover{
    color: #e90303;
}
.area .title_main dl a.active{
    border-bottom: 3px solid #de2f3c;
    color: #e90303;
}
.title_main .more {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}
.title_main .more:hover span {
    background-position: -111px 0;
}
.title_main .more:hover{
    color:#e90404;
}
.title_main .more span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background: url(../images/base.png) no-repeat -90px 0;
    vertical-align: -5px;
}
.wrap .tempWrap{
    overflow: hidden;
    position: relative;
    width: 949px;
}
.wrap .tempWrap>div.fLeft{
    width: 4745px;
    left: 0px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    transition: all .5s;

}
.wrap .tempWrap .main{
    float: left;
    width: 949px;
    display: block;

}
.wrap .tempWrap .product{
    position: relative;
    float: left;
    background-color: #FFF;
    width: 226px;
    height: 253px;
    padding-top: 47px;
    margin: 0 15px 15px 0;
    text-align: center;
}
.wrap .tempWrap .slide{
    position: relative;
    width: 467px;
    height: 300px;
    margin-right: 15px;
    overflow: hidden;
}
.wrap .tempWrap .main .product.last{
    margin-right: 0;
}
.wrap .tempWrap .slide .hd{
    bottom: 17px;
    position: absolute;
    left: 0;
    /* bottom: 30px; */
    width: 100%;
    z-index: 1;
    text-align: center;
}
.wrap .tempWrap .slide .hd a{
    background-color: #e22430;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 6px;
    margin: 0 5px;
    overflow: hidden;
    text-decoration: none;
    color: #e90404;
}
.wrap .tempWrap .slide .bd {
    overflow: hidden;
    position: relative;
    width: 467px;
}
.wrap .tempWrap .slide .bd>ul{
    width: 467px;
    left: 0px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.wrap .tempWrap .slide .bd>ul li{
    float: left;
    width: 467px;

}
.wrap .tempWrap .slide .prev1{
    margin-left: -234px;    
    width: 35px;
    height: 70px;
    margin-top: -35px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 3px;
}
.wrap .tempWrap .slide .prev1:hover{
    background-color: rgba(0,0,0,.6);
}
.wrap .tempWrap .slide .prev1 span{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/base.png) -94px -20px no-repeat;
}
.wrap .tempWrap .slide .next1{
    width: 35px;
    height: 70px;
    margin-top: -35px;
    margin-right: -234px;
    position: absolute;
    top: 50%;
    border-radius: 3px;
    right: 50%;
}
.wrap .tempWrap .slide .next1 span{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/base.png) -129px -20px no-repeat;
}
.wrap .tempWrap .slide .next1:hover{
    background-color: rgba(0,0,0,.6);
}
.wrap .tempWrap1{
    overflow: hidden;
    position: relative;
    width: 467px;
}
.wrap .tempWrap1 ul{
    width: 467px;
    left: 0px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.wrap .tempWrap1 ul li{
    float: left;
    width: 467px;
}
.wrap .tempWrap .product .like{
    position: absolute;
    top: 18px;
    right: 15px;
    color: #999;
    font-family: Arial;
    line-height: 14px;
}
.wrap .tempWrap .product .like span{
    display: inline-block;
    width: 13px;
    height: 11px;
    overflow: hidden;
    margin-right: 5px;
    background: url(../images/base.png) no-repeat -132px 0;
    vertical-align: middle;
}
.wrap .tempWrap .product .product-1 img{
    width: 160px;
    height: 160px;
}

.wrap .tempWrap .product .product-1 .name{
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    margin: 15px 15px 5px 15px;
    max-height: 38px;
    overflow: hidden;
}
.wrap .tempWrap .product .price{
    font-size: 18px;
    color: #eb0303;
    font-family: Arial;
}
.wrap .tempWrap .add{
    display: none;
    overflow: hidden;
    height: 90px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 226px;
    height: 90px;
    background: url(../images/rgba.png);
}
@keyframes show{
    0%{height: 0;}
    100%{height: 90px;}
}
.wrap .tempWrap .product:hover .add{
    height: 90px;
    display: block;
    animation: .5s show;
}
.wrap .tempWrap .product:hover{
    box-shadow: 0 3px 3px #ccc;
    transition: all .2s linear;
}
.wrap .tempWrap .add .star{
    width: 74px;
    height: 14px;
    margin: 12px auto;
    background: url(../images/stars.png) no-repeat 0 0;
    display: block;
}
.wrap .tempWrap .add .cart{
    position: absolute;
    top: 38px;
    left: 50%;
    width: 214px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto 0 -108px;
    border: 1px solid #FFF;
    font-size: 16px;
    color: #FFF;
}
.wrap .tempWrap .add .cart span{
    display: inline-block;
    width: 22px;
    height: 18px;
    margin-right: 9px;
    vertical-align: -3px;
    background: url(../images/base.png) no-repeat -184px -38px;
}
.wrap .tempWrap .add .cart:hover{
    background-color: red;
    border-color: red;
}
.area .wrap div:nth-child(2){
    overflow: hidden;
}
.jxh .wrap .tempWrap1>ul{
    width: 934px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    transition:all .5s;
}
.jxh .wrap .tempWrap .slide .hd a{
    background-color:#fff;
}
.jxh .wrap .tempWrap .slide .hd a.active{
    background-color: #e22430;
}

.data .wrap .tempWrap .main .product:nth-child(3){
    margin-right: 0 !important;
}
.data .wrap .tempWrap .main .product:nth-child(7){
    margin-right: 0 !important;
}
.dj .wrap .tempWrap .product:nth-child(4){
    margin-right: 0 !important;
}
.dj .wrap .tempWrap .product:nth-child(8){
    margin-right: 0 !important;
}